.logo{
    font-family: Londrina Sketch;
    font-size: 1.4rem;
    font-weight: bold;
    color: blueviolet;
}
.navbarr{
    color: white;
    background-color: rgba(0, 0, 0, 0.144);
    position: fixed;
    flex-direction: row;
    border-bottom: 1px solid rgb(64, 4, 121);
   backdrop-filter: blur(5px);
   z-index: 20;
}